{
  "openapi": "3.0.0",
  "info": {
    "title": "Boltz API",
    "version": "3.4.0"
  },
  "paths": {
    "/nodes": {
      "get": {
        "description": "Information about the Lightning nodes the backend is connected to",
        "tags": [
          "Nodes"
        ],
        "responses": {
          "200": {
            "description": "Lightning node information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "additionalProperties": {
                      "$ref": "#/components/schemas/NodeInfo"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nodes/stats": {
      "get": {
        "description": "Statistics about the Lightning nodes the backend is connected to",
        "tags": [
          "Nodes"
        ],
        "responses": {
          "200": {
            "description": "Statistics about Lightning nodes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "properties": {
                      "total": {
                        "$ref": "#/components/schemas/NodeStats"
                      }
                    },
                    "additionalProperties": {
                      "$ref": "#/components/schemas/NodeStats"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/swap/submarine": {
      "post": {
        "description": "Create a new Submarine Swap from onchain to lightning",
        "tags": [
          "Swap"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmarineRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created Submarine Swap",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Error that caused the Submarine Swap creation to fail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "NodeInfo": {
        "type": "object",
        "properties": {
          "publicKey": {
            "type": "string"
          },
          "uris": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "NodeStats": {
        "type": "object",
        "properties": {
          "capacity": {
            "type": "integer"
          },
          "channels": {
            "type": "integer"
          },
          "peers": {
            "type": "integer"
          },
          "oldestChannel": {
            "type": "integer",
            "description": "UNIX timestamp of the block in which the funding transaction of the oldest channel was included"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "SubmarineRequest": {
        "type": "object",
        "properties": {
          "pairId": {
            "type": "string",
            "required": true
          },
          "orderSide": {
            "type": "string",
            "required": true,
            "enum": [
              "buy",
              "sell"
            ]
          },
          "refundPublicKey": {
            "type": "string",
            "required": true
          },
          "invoice": {
            "type": "string"
          },
          "preimageHash": {
            "type": "string"
          },
          "pairHash": {
            "type": "string"
          },
          "referralId": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Nodes",
      "description": "Lightning nodes"
    },
    {
      "name": "Swap",
      "description": "Swap related endpoints"
    }
  ],
  "servers": [
    {
      "url": "https://api.boltz.exchange/v2",
      "description": "Mainnet"
    },
    {
      "url": "https://api.testnet.boltz.exchange/v2",
      "description": "Testnet"
    },
    {
      "url": "http://localhost:9001/v2",
      "description": "Regtest"
    }
  ]
}