version: 2
jobs:
  build:
    machine:
      enabled: true
  
    steps:
      - checkout:

      - run:
          name: Install rsync
          command: 'sudo apt-get update -y && sudo apt-get -y install rsync'

      - run:
          name: Install latest Node.js LTS
          command: |
            export NVM_DIR="/opt/circleci/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"
            nvm install v10.15.1
            nvm alias default v10.15.1

      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}-v3

      - run:
          name: Install dependencies
          command: |
            export NVM_DIR="/opt/circleci/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"

            npm install

      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}-v3
          paths:
            - ./node_modules

      - run:
          name: Compile
          command: |
            export NVM_DIR="/opt/circleci/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"

            npm run compile

      - run:
          name: Lint
          command: |
            export NVM_DIR="/opt/circleci/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"

            npm run lint

      - run:
          name: Unit tests
          command: |
            export NVM_DIR="/opt/circleci/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"
            
            npm run test:unit

      - run:
          name: Start simnet
          command: |
            export NVM_DIR="/opt/circleci/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"

            npm run docker:start

      - run:
          name: Integration tests
          command: |
            export NVM_DIR="/opt/circleci/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"

            npm run test:int
