[package]
name = "boltz-evm"
version.workspace = true
license.workspace = true
authors.workspace = true
edition.workspace = true

[dependencies]
alloy = { workspace = true }
anyhow = { workspace = true }
