[tool.poetry]
name = "boltz-tools"
version = "0.1.0"
description = ""
authors = ["michael1011 <me@michael1011.at>"]

[tool.poetry.dependencies]
python = "^3.10"
python-bitcoinrpc = "^1.0"
pyotp = "^2.8.0"
sseclient = "^0.0.27"
ruff = "^0.0.275"
mkdocs = "^1.4.2"
pyln-client = "^23.5"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
select = ["ALL"]
ignore = [
    "T201", "D101", "D211", "D213", "INP001", "BLE001", "FBT001", "FBT002", "FBT003", "S605",
    "TD002", "TD003", "FIX002", "ANN101", "D102", "D103", "D107", "D100", "SLOT000"
]
