astroid==2.3.3
certifi==2019.9.11
chardet==3.0.4
Click==7.0
idna==2.8
isort==4.3.21
Jinja2==2.10.3
lazy-object-proxy==1.4.3
livereload==2.6.1
Markdown==3.1.1
MarkupSafe==1.1.1
mccabe==0.6.1
mkdocs==1.0.4
pylint==2.4.3
pyotp==2.3.0
PyYAML==5.1.2
requests==2.22.0
six==1.13.0
sseclient==0.0.24
tornado==6.0.3
typed-ast==1.4.0
urllib3==1.25.6
wrapt==1.11.2
