[package]
name = "boltzr"
version = "3.7.3"
edition = "2021"
license = "AGPL-3"
authors = ["michael1011"]
build = "build.rs"

[features]
default = ["metrics", "loki", "otel"]
metrics = [
    "dep:metrics",
    "dep:axum-prometheus",
    "dep:metrics-process",
    "dep:metrics-exporter-prometheus",
]
loki = ["dep:tracing-loki"]
otel = [
    "dep:opentelemetry",
    "dep:diesel-tracing",
    "dep:opentelemetry_sdk",
    "dep:opentelemetry-otlp",
    "dep:tracing-opentelemetry",
    "dep:opentelemetry-semantic-conventions",
]

[profile.release]
strip = true
opt-level = 2
lto = true
codegen-units = 1
panic = "abort"

[dependencies]
axum = "0.7.7"
bitcoin_hashes = "0.15.0"
clap = { version = "4.5.20", features = ["derive"] }
crossbeam-channel = "0.5.13"
ctrlc = { version = "3.4.5", features = ["termination"] }
dirs = "5.0.1"
num_cpus = "1.16.0"
prost = "0.13.3"
rcgen = { version = "0.13.1", features = ["x509-parser"] }
reqwest = { version = "0.12.9", features = ["json"] }
serde = { version = "1.0.214", features = ["derive"] }
serde_json = "1.0.132"
tokio = { version = "1.38.1", features = ["rt-multi-thread", "macros", "process"] }
toml = "0.8.19"
tonic = { version = "0.12.3", features = ["prost", "tls"] }
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
tokio-util = "0.7.12"
tracing-loki = { version = "0.2.5", optional = true }
futures = "0.3.31"
metrics-process = { version = "2.1.0", optional = true }
metrics-exporter-prometheus = { version = "0.15.3", optional = true, default-features = false }
axum-prometheus = { version = "0.6.1", default-features = false, optional = true, features = ["prometheus"] }
metrics = { version = "0.23.0", optional = true }
diesel_migrations = "2.2.0"
r2d2 = "0.8.10"
diesel = { version = "2.2.4", default-features = false, features = ["postgres", "r2d2", "chrono"] }
strum_macros = "0.26.4"
strum = "0.26.3"
dashmap = "6.1.0"
opentelemetry = { version = "0.25.0", optional = true }
opentelemetry-semantic-conventions = { version = "0.26.0", optional = true, features = ["semconv_experimental"] }
opentelemetry_sdk = { version = "0.25.0", optional = true, features = ["rt-tokio"] }
opentelemetry-otlp = { version = "0.25.0", optional = true }
tracing-opentelemetry = { version = "0.26.0", optional = true }
diesel-tracing = { version = "0.3.0", optional = true, features = ["postgres", "r2d2", "statement-fields"] }
alloy = { version = "0.5.4", features = ["reqwest", "sol-types", "serde", "eip712", "signer-local", "signer-mnemonic", "providers", "transports", "contract", "json"] }
alloy-transport-http = "0.5.4"
async-tungstenite = { version = "0.28.0", features = ["tokio-native-tls", "tokio-runtime"] }
async-trait = "0.1.83"
futures-util = "0.3.31"
async-stream = "0.3.6"
anyhow = "1.0.92"
lightning = { version = "0.0.125", features = ["std"] }
lightning-invoice = { version = "0.32.0", features = ["std"] }
bech32 = "0.9.1"
bitcoin = "0.32.4"
elements = "0.25.1"
base64 = "0.22.1"
rust-s3 = "0.35.1"
cron = "0.12.1"
chrono = "0.4.38"
fedimint-tonic-lnd = { version = "0.2.0", features = ["lightningrpc"], default-features = false }
flate2 = "1.0.34"

[build-dependencies]
built = { version = "0.7.5", features = ["git2"] }
tonic-build = "0.12.3"

[dev-dependencies]
eventsource-client = "0.13.0"
mockall = "0.13.0"
rand = "0.8.5"
rstest = "0.23.0"
serial_test = "3.1.1"
