name: CI

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        platform: [ubuntu-latest]
        node-version: [10.x, 12.x, 14.x]

    runs-on: ${{ matrix.platform }}

    steps:
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Check out code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: npm ci

      - name: Start containers
        run: npm run docker:regtest && npm run docker:ganache

      - name: Deploy Ganache contracts
        run: sleep 15 && npm run docker:ganache:deploy

      - name: Compile
        run: npm run compile

      - name: Lint
        run: npm run lint

      - name: Unit tests
        run: npm run test:unit

      - name: Integration tests
        run: npm run test:int
