name: CI

on: [push, pull_request]

jobs:
  build:
    timeout-minutes: 60
    strategy:
      matrix:
        platform: [ubuntu-latest]
        node-version: [24]
        rust-version: [stable]

    runs-on: ${{ matrix.platform }}

    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          submodules: 'true'

      - name: Setup build environment
        uses: ./.github/actions/setup-build-environment
        with:
          node-version: ${{ matrix.node-version }}
          rust-version: ${{ matrix.rust-version }}
          cache-prefix: npm-rust-build

      - name: Start regtest
        timeout-minutes: 10
        run: npm run regtest:start:ci && sudo chmod -R 777 regtest

      - name: Debug boltz-lnd-3 logs
        if: ${{ always() }}
        run: |
          docker ps -a
          docker inspect boltz-lnd-3 --format '{{json .State.Health}}' || true
          docker logs boltz-lnd-3 || true

      - name: Compile
        run: npm run compile

      - name: Type check tests
        run: npm run compile:typescript:test

      - name: Prettier
        run: npm run prettier:check

      - name: Lint
        run: npm run lint

      - name: Unit tests
        run: npm run test:unit -- -w 2

      - name: Integration tests
        run: node run-int.js

  build-rust:
    timeout-minutes: 60
    strategy:
      matrix:
        platform: [ubuntu-latest]
        node-version: [24]
        rust-version: [stable]

    runs-on: ${{ matrix.platform }}

    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          submodules: 'true'

      - name: Setup build environment
        uses: ./.github/actions/setup-build-environment
        with:
          node-version: ${{ matrix.node-version }}
          rust-version: ${{ matrix.rust-version }}
          cache-prefix: cargo-build

      - name: Install rustfmt
        run: rustup component add rustfmt

      - name: Install clippy
        run: rustup component add clippy

      - name: Start regtest
        timeout-minutes: 10
        run: npm run regtest:start:ci && sudo chmod -R 777 regtest

      - name: Debug boltz-lnd-3 logs
        if: ${{ always() }}
        run: |
          docker ps -a
          docker inspect boltz-lnd-3 --format '{{json .State.Health}}' || true
          docker logs boltz-lnd-3 || true

      - name: Compile
        run: cargo build

      - name: Format
        run: cargo fmt --check

      - name: Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings

      - name: Tests
        run: cargo test

  api-generation-validation:
    timeout-minutes: 60
    strategy:
      matrix:
        platform: [ubuntu-latest]
        node-version: [24]
        python-version: ['3.14']

    runs-on: ${{ matrix.platform }}

    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          submodules: 'true'

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install Node.js dependencies
        run: npm ci

      - name: Check proto files are up to date
        run: |
          npm run proto
          git diff --exit-code -- lib/proto

      - name: Check swagger spec is up to date
        run: |
          npm run swagger
          git diff --exit-code -- swagger-spec.json

      - name: Install Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: OpenAPI Spec Validation
        run: npm run swagger:validate
